@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

:root {
    --cor01: #ba0000;
    --cor02: #722F37;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0f0f10;
    color:white;
    }

.container{
    max-width: 500px;
    margin: auto;
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 17px;
}

.alerta{
    position: fixed;
    top:20px;
    left:20px;
    background: linear-gradient(45deg,#ff0066,#ff3399);
    color:white;
    padding:15px 20px;
    border-radius:13px;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    font-size: 15px;
    font-weight: 700 ;
    display: none;
    animation: slide 0.5s;
}
        
@keyframes slide{
        from{
        transform:translateX(-50px);
        opacity:0;
        }
        to{
        transform:translateX(0);
        opacity:1;
        }
}
    
header{
    background: #0F0F10;
    background: linear-gradient(360deg, rgba(15, 15, 16, 1) 0%, rgba(120, 22, 31, 1) 100%);    color:#ff6b6b;
    padding:10px;
    text-align:center;
    font-size:20px;
    font-weight: 700;
}
    
.profile{
    text-align: center;
    margin-top: 10px;
}

.headline {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.headline strong{
    color: #00ff3c;
    animation: piscar 3s infinite;
}

@keyframes piscar{
    0%{
        color:#00ff3c;
    }
    50%{
        color:#76a581;
    }
    100%{
        color:#00ff3c;
    }
}


.headline p {
    font-size: 15px;
    color: rgb(145, 145, 145);
}
    
.avatar{
    width:140px;
    height:140px;
    border-radius:50%;
    box-shadow: 0 0 10px var(--cor01),
            0 0 20px var(--cor01),
            0 0 30px var(--cor01);
    object-fit:cover;
    }
    
.name{
    font-size:28px;
    font-weight:bold;
    margin-top:10px;
    }
    
.subtitle{
    color: var(--cor01);
    margin-top:5px;
    }
    
.bio{
    background:#444444;
    padding:20px;
    border-radius:15px;
    line-height:1.6;
    }

.bio h4 {
    text-align: center;
}

.bio strong {
    color: var(--cor01);
    }
    
.highlight{
    margin-top:20px;
    align-items: center;
    justify-content: center;
    display: flex;
    }
    
.highlight img{
    width: 95%;
    border-radius:15px;
    transition: 0.10s;
    }   

.microcopy {
    text-align: justify;
    font-size: small;
    color: #b9b9b9;
    margin-top: 10px;
}
  
.buttons {
    width: 100%;
}

/* Botão principal */

.vip-btn{
    background: linear-gradient(45deg,var(--cor02),var(--cor01));
    color:white;
    width: 100%;
    padding: 19px;
    font-size: 17px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    font-weight:bold;
    box-shadow:0 0 15px rgba(255,0,100,0.6);
    transition:0.3s;
    }
    
.vip-btn:hover{
    transform:scale(1.05);
    }

.description {
    text-align: justify;
    font-size: x-small;
    color: #b9b9b9;
}    
    
/* fundo do popup */

.popup-bg{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.7);
    display:none;
    justify-content:center;
    align-items:center;
}
    
    /* caixa do popup */

.popup{
    background: #000000;
    background: linear-gradient(19deg, rgba(0, 0, 0, 1) 0%, rgba(89, 89, 89, 1) 100%);    
    padding:25px;
    border-radius:12px;
    text-align:center;
    max-width:350px;
    position:relative;
}
    
    /* botao fechar */

.close{
    position:absolute;
    top:10px;
    right:15px;
    font-size:20px;
    cursor:pointer;
    font-weight:bold;
}
    
.popup h2{
    font-size:18px;
}
    
/* botoes do popup */

.option-btn{
    display:block;
    width:100%;
    margin:10px 0;
    padding:12px;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}
    
.whatsapp{
    background:#25D366;
    color:white;
    font-weight: 800;
    transition:0.3s;
}

.whatsapp:hover {
    transform:scale(1.05);
    box-shadow:0 0 10px #25D366, 0 0 20px #25D366;
}
    
.telegram{
    background:#0088cc;
    color:white;
    font-weight: 800;
    transition:0.3s;
}

.telegram:hover {
    transform:scale(1.05);
    box-shadow:0 0 10px #0088cc, 0 0 20px #0088cc;
}

.promo{
    background:#3b0b16;
    padding:15px;
    border-radius:12px;
    text-align:center;
    color:#ff5a8f;
}

/* galeria das 6 fotos */

.gallery{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:8px;
}
    
.gallery img{
    width:100%;
    border-radius:10px;
    cursor:pointer;
}

.gallery img:nth-child(n+6){
    filter: blur(9px);
}
        
.modal{
    display:none;
    position:fixed;
    z-index:999;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.911);   
    justify-content:center;
    align-items:center;
}
        
.modal-img{
    max-width:60%;
    max-height:80%;
    border-radius:10px;
}
        
.fechar{
    position:absolute;
    top:20px;
    right:30px;
    font-size:40px;
    color:white;
    cursor:pointer;
}    
    
.support{
    background:#ff2f7a;
    color:white;
    padding:18px;
    border-radius:14px;
    text-align:center;
    font-weight:bold;
    transition:0.3s;
}

.support a {
    text-decoration: none;
    color:white;
}

.support:hover{
    transform:scale(1.05);
}
    
footer{
    width: 100%;
    background-color: #444444;
    margin-top: 10px; 
    text-align: center;
    font-size: 13px;
    color:rgb(196, 196, 196);
}


